

body{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #f0f0f0;
}

#Notas{
    border: 5px solid grey;
    width: 400px;
    min-height: 500px;
    background-color: white;
    text-align: center;
    padding: 10px;
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.card{
    border: 1px solid rgb(14, 233, 87);
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    position: relative;

    transition: all 0.3s ease;
}

.item-card:hover
{
    transform: scale (1.05)
    box-shadow;
}








.delete-btn{
    position: absolute;
    top: 5px;
    right: 5px;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.like-btn{
    margin-top: 10px;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    background-color: #ddd;
    border-radius: 5px;
}





.item-lendario{
    background: linear-gradient(45deg, rgb(148, 139, 21), gold);

    color: rgb(55, 255, 255) !important;

    font-weight: bold;

    border: 3px solid yellow;

    box-shadow:
        0 0 10px gold,
        0 0 20px orange,
        0 0 30px yellow;


}

.dark{
    background-color: #333;
    color: white;
}

.ceu{
    background-color: #87CEEB;
    color: black;
}

.neon{
    background-color: #39FF14;
    color: black;
    box-shadow: 0 0 15px #39FF14;
}

